/* BinaryBackground.css */

.binary-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
  background-color: var(--color-background);
}

.bit {
  position: absolute;
  color: var(--color-text);
  opacity: 0.7;
  animation: moveDown linear infinite;
  will-change: transform, opacity;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none; /* Hide the binary digits while loading */
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(120vh); /* Move past the viewport */
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .bit {
    font-size: 10px !important;
  }
}
